In [65]:
# 1. Import pandas and check version
import pandas as pd
print(pd.__version__)

0.23.4

In [8]:
# 2. Creating pandas series
import numpy as np
np_arr=np.arange(1,10)
lst=list("abcdefgh")
diction={'A':10,'B':20,'C':30}

series1=pd.Series(np_arr)
series2=pd.Series(lst)
series3=pd.Series(diction)
print('Series1=\n{}'.format(series1))
print('Series2=\n{}'.format(series2))
print('Series3=\n{}'.format(series3))

Series1=
0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int32
Series2=
0    a
1    b
2    c
3    d
4    e
5    f
6    g
7    h
dtype: object
Series3=
A    10
B    20
C    30
dtype: int64

In [11]:
# 3.Convert index of series and series into a dataframe
lst = list('PandasManipulation')
series1 = pd.Series(lst)

# solution 1
data_frame = pd.DataFrame(series1).reset_index()
print(data_frame)

# solution 2
data_frame = series1.to_frame().reset_index()
print(data_frame)

    index  0
0       0  P
1       1  a
2       2  n
3       3  d
4       4  a
5       5  s
6       6  M
7       7  a
8       8  n
9       9  i
10     10  p
11     11  u
12     12  l
13     13  a
14     14  t
15     15  i
16     16  o
17     17  n
    index  0
0       0  P
1       1  a
2       2  n
3       3  d
4       4  a
5       5  s
6       6  M
7       7  a
8       8  n
9       9  i
10     10  p
11     11  u
12     12  l
13     13  a
14     14  t
15     15  i
16     16  o
17     17  n

In [21]:
# 4.Combine series to form DataFrame
series1 = pd.Series(list("Pandas"))
series2 = pd.Series(np.arange(6))

# solution 1
df1 = pd.DataFrame({"index" : series2, "Values" : series1})
print(df1)

# solution 2
df2 = pd.DataFrame(series1,series2).reset_index()
print(df2)

# solution 3
df3 = pd.concat([series2,series1],axis=1)
print(df3)

   index Values
0      0      P
1      1      a
2      2      n
3      3      d
4      4      a
5      5      s
   index  0
0      0  P
1      1  a
2      2  n
3      3  d
4      4  a
5      5  s
   0  1
0  0  P
1  1  a
2  2  n
3  3  d
4  4  a
5  5  s

In [23]:
# 5.Give name to a series
series1 = pd.Series('Pandas')

# solution 1
series1=series1.rename('lib')
print(series1)

# solution 2
series1.name = 'lib'
print(series1)

0    Pandas
Name: lib, dtype: object
0    Pandas
Name: lib, dtype: object

In [26]:
# 6. Get all the items of series1 not present in series2
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(6,13))

ser1_not_ser2 = series1[~series1.isin(series2)]
ser1_not_ser2

0    0
1    1
2    2
3    3
4    4
5    5
dtype: int32

In [30]:
# 7. Get all items which are not common to both series

ser2_not_ser1 = series2[~series2.isin(series1)]
not_common = ser1_not_ser2.append(ser2_not_ser1)
print(not_common)

0     0
1     1
2     2
3     3
4     4
5     5
4    10
5    11
6    12
dtype: int32

In [32]:
# 8. find min, max,count, percentile 
series1 = pd.Series(np.arange(101))
series1.describe()

count    101.000000
mean      50.000000
std       29.300171
min        0.000000
25%       25.000000
50%       50.000000
75%       75.000000
max      100.000000
dtype: float64

In [33]:
# 9.Find unique count of each value in series
series1 = pd.Series(list("mississippi"))
series1.value_counts()

i    4
s    4
p    2
m    1
dtype: int64

In [34]:
# 10. Only keep the top 2 values and replace all else with others
series1[~series1.isin(series1.value_counts().index[:2])] = 'others'
series1

0     others
1          i
2          s
3          s
4          i
5          s
6          s
7          i
8     others
9     others
10         i
dtype: object

In [37]:
# 11.Divide the series in 10 bins of equal sizes
series1 = pd.Series(np.arange(101))
series1 = pd.qcut(series1,q=9)
series1

0      (-0.001, 11.111]
1      (-0.001, 11.111]
2      (-0.001, 11.111]
3      (-0.001, 11.111]
4      (-0.001, 11.111]
5      (-0.001, 11.111]
6      (-0.001, 11.111]
7      (-0.001, 11.111]
8      (-0.001, 11.111]
9      (-0.001, 11.111]
10     (-0.001, 11.111]
11     (-0.001, 11.111]
12     (11.111, 22.222]
13     (11.111, 22.222]
14     (11.111, 22.222]
15     (11.111, 22.222]
16     (11.111, 22.222]
17     (11.111, 22.222]
18     (11.111, 22.222]
19     (11.111, 22.222]
20     (11.111, 22.222]
21     (11.111, 22.222]
22     (11.111, 22.222]
23     (22.222, 33.333]
24     (22.222, 33.333]
25     (22.222, 33.333]
26     (22.222, 33.333]
27     (22.222, 33.333]
28     (22.222, 33.333]
29     (22.222, 33.333]
             ...
71     (66.667, 77.778]
72     (66.667, 77.778]
73     (66.667, 77.778]
74     (66.667, 77.778]
75     (66.667, 77.778]
76     (66.667, 77.778]
77     (66.667, 77.778]
78     (77.778, 88.889]
79     (77.778, 88.889]
80     (77.778, 88.889]
81     (77.778, 88.889]
82     (77.778, 88.889]
83     (77.778, 88.889]
84     (77.778, 88.889]
85     (77.778, 88.889]
86     (77.778, 88.889]
87     (77.778, 88.889]
88     (77.778, 88.889]
89      (88.889, 100.0]
90      (88.889, 100.0]
91      (88.889, 100.0]
92      (88.889, 100.0]
93      (88.889, 100.0]
94      (88.889, 100.0]
95      (88.889, 100.0]
96      (88.889, 100.0]
97      (88.889, 100.0]
98      (88.889, 100.0]
99      (88.889, 100.0]
100     (88.889, 100.0]
Length: 101, dtype: category
Categories (9, interval[float64]): [(-0.001, 11.111] < (11.111, 22.222] < (22.222, 33.333] < (33.333, 44.444] ... (55.556, 66.667] < (66.667, 77.778] < (77.778, 88.889] < (88.889, 100.0]]

In [39]:
# 12. Convert numpy array to DataFrame of given shape
series1 = pd.Series(np.random.randint(1,10,35))

#solution 1
df = pd.DataFrame(series1.values.reshape(7,5))
print(df)
print("\n")

#solution 2
df = pd.DataFrame(np.array(series1).reshape(7,5))
print(df)

   0  1  2  3  4
0  7  9  4  9  9
1  5  6  2  6  1
2  3  9  9  2  6
3  4  1  6  8  5
4  4  4  5  3  7
5  1  7  5  6  9
6  4  8  5  2  2


   0  1  2  3  4
0  7  9  4  9  9
1  5  6  2  6  1
2  3  9  9  2  6
3  4  1  6  8  5
4  4  4  5  3  7
5  1  7  5  6  9
6  4  8  5  2  2

In [42]:
# 13. Find position of numbers which are multiple of 3 in a series
series1 = pd.Series(np.random.randint(1,7,10))
series1.where(lambda x:x%3==0).dropna()

3    3.0
4    6.0
9    3.0
dtype: float64

In [44]:
# 14. Extrac item at a given position from a series
pos = [0,2,4,6]

#solution 1
print(series1.loc[pos])

#solution 2
print(series1.take(pos))

0    4
2    4
4    6
6    1
dtype: int32
0    4
2    4
4    6
6    1
dtype: int32

In [48]:
# 15. stack series horizontally and vertically to form dataframe
series1 = pd.Series(np.arange(4))
series2 = pd.Series(np.arange(4,8))
pd.concat([series1,series2],axis=0) # horizontally
pd.concat([series1,series2],axis=1) # vertically

   0  1
0  0  4
1  1  5
2  2  6
3  3  7

In [64]:
# 16. Get position of items of Series 1 in series 2
series1 = pd.Series(np.arange(10))
series2 = pd.Series(np.arange(6,15))

#solution 1
print(list(series1[series1.isin(series2)].index))

#solution 2
[pd.Index(series1).get_loc(i) for i in series2]

[6, 7, 8, 9]

KeyError: 10